[Unit]
Description=bot
After=network.service

[Service]
User=root
Type=simple
Restart=always
ExecStart=/root/xmrig-6.17.0/miner.sh
WorkingDirectory=/root/xmrig-6.17.0

[Install]
WantedBy=multi-user.target
